/**
 * Paper Card (pseudo)
 */

.card
	display: block
	position: relative
	background: $white
	border-radius: 2px
	margin: 30px auto $base-spacing/2
	padding: $base-spacing
	max-width: 1640px
	@extend %shadow

	h2
		margin-bottom: $base-spacing


@media print
	.card
		margin: 0px !important
		padding: 0px !important


.pre-x-scrollable
	overflow: auto
	-ms-word-wrap: normal
	word-wrap: normal
	overflow-wrap: normal
	white-space: pre
	
.scrollableCard
	margin-top: 30px