/**
 * Base `page` styles
 */

.page
	padding: $base-spacing 2*$base-spacing
	min-height: 100%
	width: 100%
	nav
		margin: 0 $base-spacing/2
		a
			display: block

	@media screen and (max-width: 321px)
		padding: $base-spacing $base-spacing/2

	@media print
		margin: 0px !important
		padding: 0px !important