
.table-no-padding
  td
    padding: 5px 1px 5px 1px !important
    text-align: center

.einsatz
  background: #00CC66
  text-align: center

.einsatzDraft
  background: #FFCC99
  text-align: center

.einsatz-zivi-name
  text-align: left !important
  padding-left: 8px !important


@media print
  .table-no-padding
    td
      padding: 1px 1px 1px 1px !important

  td
    font-size: 6pt !important

  .einsatz-zivi-name
    max-width: 65px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    padding-left: 1px !important